=begin
#White Label Communications CPaas API Documentation

#A CPaaS platform API

The version of the OpenAPI document: 1.1
Contact: support@whitelabelcomm.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class CallQueueRecipientApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Login as Recipient
    # Agents must log in to receive calls. Depending on their membership, they can log in to one or more queues. (If an agent is a member of more than one queue, they will receive calls from all the queues they are a part of.)
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param recipient_id [String] Recipient ID, 32 alpha numeric
    # @param req_body [ServiceVOIPCallQueueRecipientLoginLogoutData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsCallQueueResponseShort]
    def v1_account_account_id_loginrecipient_recipient_id_post(account_id, recipient_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_loginrecipient_recipient_id_post_with_http_info(account_id, recipient_id, req_body, opts)
      data
    end

    # Login as Recipient
    # Agents must log in to receive calls. Depending on their membership, they can log in to one or more queues. (If an agent is a member of more than one queue, they will receive calls from all the queues they are a part of.)
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param recipient_id [String] Recipient ID, 32 alpha numeric
    # @param req_body [ServiceVOIPCallQueueRecipientLoginLogoutData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsCallQueueResponseShort, Integer, Hash)>] ServiceDocsCallQueueResponseShort data, response status code and response headers
    def v1_account_account_id_loginrecipient_recipient_id_post_with_http_info(account_id, recipient_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallQueueRecipientApi.v1_account_account_id_loginrecipient_recipient_id_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallQueueRecipientApi.v1_account_account_id_loginrecipient_recipient_id_post"
      end
      # verify the required parameter 'recipient_id' is set
      if @api_client.config.client_side_validation && recipient_id.nil?
        fail ArgumentError, "Missing the required parameter 'recipient_id' when calling CallQueueRecipientApi.v1_account_account_id_loginrecipient_recipient_id_post"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling CallQueueRecipientApi.v1_account_account_id_loginrecipient_recipient_id_post"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/loginrecipient/{recipientID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'recipientID' + '}', CGI.escape(recipient_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsCallQueueResponseShort'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallQueueRecipientApi.v1_account_account_id_loginrecipient_recipient_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallQueueRecipientApi#v1_account_account_id_loginrecipient_recipient_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change Recipient Status
    # Get a list of all recipients in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsGetQueueRecipients]
    def v1_account_account_id_queuerecipient_get(account_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_queuerecipient_get_with_http_info(account_id, opts)
      data
    end

    # Change Recipient Status
    # Get a list of all recipients in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsGetQueueRecipients, Integer, Hash)>] ServiceDocsGetQueueRecipients data, response status code and response headers
    def v1_account_account_id_queuerecipient_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallQueueRecipientApi.v1_account_account_id_queuerecipient_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallQueueRecipientApi.v1_account_account_id_queuerecipient_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/queuerecipient'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsGetQueueRecipients'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallQueueRecipientApi.v1_account_account_id_queuerecipient_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallQueueRecipientApi#v1_account_account_id_queuerecipient_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Recipient List
    # Change the status of a recipient to ready, away, etc.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param recipient_id [String] Recipient ID, 32 alpha numeric
    # @param req_body [ServiceVOIPCallQueueRecipientStatusData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceAPIResponse]
    def v1_account_account_id_recipient_recipient_id_status_post(account_id, recipient_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_recipient_recipient_id_status_post_with_http_info(account_id, recipient_id, req_body, opts)
      data
    end

    # Get Recipient List
    # Change the status of a recipient to ready, away, etc.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param recipient_id [String] Recipient ID, 32 alpha numeric
    # @param req_body [ServiceVOIPCallQueueRecipientStatusData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceAPIResponse, Integer, Hash)>] ServiceAPIResponse data, response status code and response headers
    def v1_account_account_id_recipient_recipient_id_status_post_with_http_info(account_id, recipient_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallQueueRecipientApi.v1_account_account_id_recipient_recipient_id_status_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallQueueRecipientApi.v1_account_account_id_recipient_recipient_id_status_post"
      end
      # verify the required parameter 'recipient_id' is set
      if @api_client.config.client_side_validation && recipient_id.nil?
        fail ArgumentError, "Missing the required parameter 'recipient_id' when calling CallQueueRecipientApi.v1_account_account_id_recipient_recipient_id_status_post"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling CallQueueRecipientApi.v1_account_account_id_recipient_recipient_id_status_post"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/recipient/{recipientID}/status'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'recipientID' + '}', CGI.escape(recipient_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallQueueRecipientApi.v1_account_account_id_recipient_recipient_id_status_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallQueueRecipientApi#v1_account_account_id_recipient_recipient_id_status_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
