=begin
#White Label Communications CPaas API Documentation

#A CPaaS platform API

The version of the OpenAPI document: 1.1
Contact: support@whitelabelcomm.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class CallflowApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Call Group
    # Delete a callflow in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param callflow_id [String] callflow ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsCallflowGetSingle]
    def v1_account_account_id_callflow_callflow_id_delete(account_id, callflow_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_callflow_callflow_id_delete_with_http_info(account_id, callflow_id, opts)
      data
    end

    # Delete Call Group
    # Delete a callflow in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param callflow_id [String] callflow ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsCallflowGetSingle, Integer, Hash)>] ServiceDocsCallflowGetSingle data, response status code and response headers
    def v1_account_account_id_callflow_callflow_id_delete_with_http_info(account_id, callflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallflowApi.v1_account_account_id_callflow_callflow_id_delete ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallflowApi.v1_account_account_id_callflow_callflow_id_delete"
      end
      # verify the required parameter 'callflow_id' is set
      if @api_client.config.client_side_validation && callflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'callflow_id' when calling CallflowApi.v1_account_account_id_callflow_callflow_id_delete"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/callflow/{callflowID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'callflowID' + '}', CGI.escape(callflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsCallflowGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallflowApi.v1_account_account_id_callflow_callflow_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallflowApi#v1_account_account_id_callflow_callflow_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Call Group Details
    # Get the details for a single callflow in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param callflow_id [String] Callflow ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsCallflowGetSingle]
    def v1_account_account_id_callflow_callflow_id_get(account_id, callflow_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_callflow_callflow_id_get_with_http_info(account_id, callflow_id, opts)
      data
    end

    # Get Call Group Details
    # Get the details for a single callflow in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param callflow_id [String] Callflow ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsCallflowGetSingle, Integer, Hash)>] ServiceDocsCallflowGetSingle data, response status code and response headers
    def v1_account_account_id_callflow_callflow_id_get_with_http_info(account_id, callflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallflowApi.v1_account_account_id_callflow_callflow_id_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallflowApi.v1_account_account_id_callflow_callflow_id_get"
      end
      # verify the required parameter 'callflow_id' is set
      if @api_client.config.client_side_validation && callflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'callflow_id' when calling CallflowApi.v1_account_account_id_callflow_callflow_id_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/callflow/{callflowID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'callflowID' + '}', CGI.escape(callflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsCallflowGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallflowApi.v1_account_account_id_callflow_callflow_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallflowApi#v1_account_account_id_callflow_callflow_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Call Group
    # Update the details for a single callflow in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param callflow_id [String] Callflow ID, 32 alpha numeric
    # @param req_body [ServiceCallflowAddEditData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsCallflowGetSingle]
    def v1_account_account_id_callflow_callflow_id_put(account_id, callflow_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_callflow_callflow_id_put_with_http_info(account_id, callflow_id, req_body, opts)
      data
    end

    # Update Call Group
    # Update the details for a single callflow in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param callflow_id [String] Callflow ID, 32 alpha numeric
    # @param req_body [ServiceCallflowAddEditData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsCallflowGetSingle, Integer, Hash)>] ServiceDocsCallflowGetSingle data, response status code and response headers
    def v1_account_account_id_callflow_callflow_id_put_with_http_info(account_id, callflow_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallflowApi.v1_account_account_id_callflow_callflow_id_put ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallflowApi.v1_account_account_id_callflow_callflow_id_put"
      end
      # verify the required parameter 'callflow_id' is set
      if @api_client.config.client_side_validation && callflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'callflow_id' when calling CallflowApi.v1_account_account_id_callflow_callflow_id_put"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling CallflowApi.v1_account_account_id_callflow_callflow_id_put"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/callflow/{callflowID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'callflowID' + '}', CGI.escape(callflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsCallflowGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallflowApi.v1_account_account_id_callflow_callflow_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallflowApi#v1_account_account_id_callflow_callflow_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Callflow List
    # Permit a user to view the callflow details in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [ServiceDocsCallflowGetAll]
    def v1_account_account_id_callflow_get(account_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_callflow_get_with_http_info(account_id, opts)
      data
    end

    # Get Callflow List
    # Permit a user to view the callflow details in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [Array<(ServiceDocsCallflowGetAll, Integer, Hash)>] ServiceDocsCallflowGetAll data, response status code and response headers
    def v1_account_account_id_callflow_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallflowApi.v1_account_account_id_callflow_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallflowApi.v1_account_account_id_callflow_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/callflow'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_key'] = opts[:'start_key'] if !opts[:'start_key'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsCallflowGetAll'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallflowApi.v1_account_account_id_callflow_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallflowApi#v1_account_account_id_callflow_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Call Group
    # Create instructions for routing a call to a user or system.
    # @param account_id [String] Account ID, 32 alpha-numeric
    # @param request [ServiceCallflowAddEditData] Call flow configuration
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsCallflowGetSingle]
    def v1_account_account_id_callflow_post(account_id, request, opts = {})
      data, _status_code, _headers = v1_account_account_id_callflow_post_with_http_info(account_id, request, opts)
      data
    end

    # Create Call Group
    # Create instructions for routing a call to a user or system.
    # @param account_id [String] Account ID, 32 alpha-numeric
    # @param request [ServiceCallflowAddEditData] Call flow configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsCallflowGetSingle, Integer, Hash)>] ServiceDocsCallflowGetSingle data, response status code and response headers
    def v1_account_account_id_callflow_post_with_http_info(account_id, request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallflowApi.v1_account_account_id_callflow_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CallflowApi.v1_account_account_id_callflow_post"
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling CallflowApi.v1_account_account_id_callflow_post"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/callflow'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsCallflowGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallflowApi.v1_account_account_id_callflow_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallflowApi#v1_account_account_id_callflow_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
