=begin
#White Label Communications CPaas API Documentation

#A CPaaS platform API

The version of the OpenAPI document: 1.1
Contact: support@whitelabelcomm.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ChannelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Channel Details
    # Access details about each channel in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param channel_id [String] Channel ID
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsChannelGetSingle]
    def v1_account_account_id_channel_channel_id_get(account_id, channel_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_channel_channel_id_get_with_http_info(account_id, channel_id, opts)
      data
    end

    # Get Channel Details
    # Access details about each channel in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param channel_id [String] Channel ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsChannelGetSingle, Integer, Hash)>] ServiceDocsChannelGetSingle data, response status code and response headers
    def v1_account_account_id_channel_channel_id_get_with_http_info(account_id, channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.v1_account_account_id_channel_channel_id_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ChannelApi.v1_account_account_id_channel_channel_id_get"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling ChannelApi.v1_account_account_id_channel_channel_id_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/channel/{channelID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'channelID' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsChannelGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.v1_account_account_id_channel_channel_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#v1_account_account_id_channel_channel_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Associate Action to Channel
    # Link an action, such as transfer or hangup to a channel.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param channel_id [String] Channel ID
    # @param req_body [ServiceVOIPChannelRunActionData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceAPIResponse]
    def v1_account_account_id_channel_channel_id_post(account_id, channel_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_channel_channel_id_post_with_http_info(account_id, channel_id, req_body, opts)
      data
    end

    # Associate Action to Channel
    # Link an action, such as transfer or hangup to a channel.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param channel_id [String] Channel ID
    # @param req_body [ServiceVOIPChannelRunActionData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceAPIResponse, Integer, Hash)>] ServiceAPIResponse data, response status code and response headers
    def v1_account_account_id_channel_channel_id_post_with_http_info(account_id, channel_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.v1_account_account_id_channel_channel_id_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ChannelApi.v1_account_account_id_channel_channel_id_post"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling ChannelApi.v1_account_account_id_channel_channel_id_post"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling ChannelApi.v1_account_account_id_channel_channel_id_post"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/channel/{channelID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'channelID' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.v1_account_account_id_channel_channel_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#v1_account_account_id_channel_channel_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Associate Metaflow to Channel
    # Link a metaflow to an active channel.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param channel_id [String] Channel ID
    # @param req_body [ServiceVOIPChannelRunMetaflowData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceAPIResponse]
    def v1_account_account_id_channel_channel_id_put(account_id, channel_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_channel_channel_id_put_with_http_info(account_id, channel_id, req_body, opts)
      data
    end

    # Associate Metaflow to Channel
    # Link a metaflow to an active channel.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param channel_id [String] Channel ID
    # @param req_body [ServiceVOIPChannelRunMetaflowData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceAPIResponse, Integer, Hash)>] ServiceAPIResponse data, response status code and response headers
    def v1_account_account_id_channel_channel_id_put_with_http_info(account_id, channel_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.v1_account_account_id_channel_channel_id_put ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ChannelApi.v1_account_account_id_channel_channel_id_put"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling ChannelApi.v1_account_account_id_channel_channel_id_put"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling ChannelApi.v1_account_account_id_channel_channel_id_put"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/channel/{channelID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'channelID' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.v1_account_account_id_channel_channel_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#v1_account_account_id_channel_channel_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Account Channel List
    # Get a list of active channels for an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsChannelGetAll]
    def v1_account_account_id_channel_get(account_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_channel_get_with_http_info(account_id, opts)
      data
    end

    # Get Account Channel List
    # Get a list of active channels for an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsChannelGetAll, Integer, Hash)>] ServiceDocsChannelGetAll data, response status code and response headers
    def v1_account_account_id_channel_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.v1_account_account_id_channel_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ChannelApi.v1_account_account_id_channel_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/channel'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsChannelGetAll'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.v1_account_account_id_channel_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#v1_account_account_id_channel_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Device Channel List
    # Get the list of active channels for a device.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param device_id [String] Device ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsChannelGetAll]
    def v1_account_account_id_device_device_id_channel_get(account_id, device_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_device_device_id_channel_get_with_http_info(account_id, device_id, opts)
      data
    end

    # Get Device Channel List
    # Get the list of active channels for a device.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param device_id [String] Device ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsChannelGetAll, Integer, Hash)>] ServiceDocsChannelGetAll data, response status code and response headers
    def v1_account_account_id_device_device_id_channel_get_with_http_info(account_id, device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.v1_account_account_id_device_device_id_channel_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ChannelApi.v1_account_account_id_device_device_id_channel_get"
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling ChannelApi.v1_account_account_id_device_device_id_channel_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/device/{deviceID}/channel'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'deviceID' + '}', CGI.escape(device_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsChannelGetAll'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.v1_account_account_id_device_device_id_channel_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#v1_account_account_id_device_device_id_channel_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get User Channel List
    # Get the list of active channels for a user.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param user_id [String] User ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsChannelGetAll]
    def v1_account_account_id_user_user_id_channel_get(account_id, user_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_user_user_id_channel_get_with_http_info(account_id, user_id, opts)
      data
    end

    # Get User Channel List
    # Get the list of active channels for a user.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param user_id [String] User ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsChannelGetAll, Integer, Hash)>] ServiceDocsChannelGetAll data, response status code and response headers
    def v1_account_account_id_user_user_id_channel_get_with_http_info(account_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.v1_account_account_id_user_user_id_channel_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ChannelApi.v1_account_account_id_user_user_id_channel_get"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ChannelApi.v1_account_account_id_user_user_id_channel_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/user/{userID}/channel'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'userID' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsChannelGetAll'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.v1_account_account_id_user_user_id_channel_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#v1_account_account_id_user_user_id_channel_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
