=begin
#White Label Communications CPaas API Documentation

#A CPaaS platform API

The version of the OpenAPI document: 1.1
Contact: support@whitelabelcomm.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class GroupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Group List
    # Get a list of groups associated with an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [ServiceDocGroupGetAll]
    def v1_account_account_id_group_get(account_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_group_get_with_http_info(account_id, opts)
      data
    end

    # Get Group List
    # Get a list of groups associated with an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [Array<(ServiceDocGroupGetAll, Integer, Hash)>] ServiceDocGroupGetAll data, response status code and response headers
    def v1_account_account_id_group_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.v1_account_account_id_group_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GroupApi.v1_account_account_id_group_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/group'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_key'] = opts[:'start_key'] if !opts[:'start_key'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocGroupGetAll'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GroupApi.v1_account_account_id_group_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#v1_account_account_id_group_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Group
    # Delete a call group in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param group_id [String] group ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocGroupGetSingle]
    def v1_account_account_id_group_group_id_delete(account_id, group_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_group_group_id_delete_with_http_info(account_id, group_id, opts)
      data
    end

    # Delete Group
    # Delete a call group in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param group_id [String] group ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocGroupGetSingle, Integer, Hash)>] ServiceDocGroupGetSingle data, response status code and response headers
    def v1_account_account_id_group_group_id_delete_with_http_info(account_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.v1_account_account_id_group_group_id_delete ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GroupApi.v1_account_account_id_group_group_id_delete"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupApi.v1_account_account_id_group_group_id_delete"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/group/{groupID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocGroupGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GroupApi.v1_account_account_id_group_group_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#v1_account_account_id_group_group_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Group Details
    # Access details about a single group within an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param group_id [String] Group ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocGroupGetSingle]
    def v1_account_account_id_group_group_id_get(account_id, group_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_group_group_id_get_with_http_info(account_id, group_id, opts)
      data
    end

    # Get Group Details
    # Access details about a single group within an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param group_id [String] Group ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocGroupGetSingle, Integer, Hash)>] ServiceDocGroupGetSingle data, response status code and response headers
    def v1_account_account_id_group_group_id_get_with_http_info(account_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.v1_account_account_id_group_group_id_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GroupApi.v1_account_account_id_group_group_id_get"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupApi.v1_account_account_id_group_group_id_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/group/{groupID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocGroupGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GroupApi.v1_account_account_id_group_group_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#v1_account_account_id_group_group_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Group
    # Modify the name, settings and other information for a group within an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param group_id [String] Group ID, 32 alpha numeric
    # @param req_body [ServiceVOIPGroupAddEdit2] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocGroupGetSingle]
    def v1_account_account_id_group_group_id_put(account_id, group_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_group_group_id_put_with_http_info(account_id, group_id, req_body, opts)
      data
    end

    # Update Group
    # Modify the name, settings and other information for a group within an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param group_id [String] Group ID, 32 alpha numeric
    # @param req_body [ServiceVOIPGroupAddEdit2] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocGroupGetSingle, Integer, Hash)>] ServiceDocGroupGetSingle data, response status code and response headers
    def v1_account_account_id_group_group_id_put_with_http_info(account_id, group_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.v1_account_account_id_group_group_id_put ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GroupApi.v1_account_account_id_group_group_id_put"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupApi.v1_account_account_id_group_group_id_put"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling GroupApi.v1_account_account_id_group_group_id_put"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/group/{groupID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'groupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocGroupGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GroupApi.v1_account_account_id_group_group_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#v1_account_account_id_group_group_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Group
    # Provide an additional resource by adding a group list to an account.
    # @param account_id [String] Account ID
    # @param group [ServiceVOIPGroupAddEdit2] group fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocGroupGetSingle]
    def v1_account_account_id_group_post(account_id, group, opts = {})
      data, _status_code, _headers = v1_account_account_id_group_post_with_http_info(account_id, group, opts)
      data
    end

    # Create Group
    # Provide an additional resource by adding a group list to an account.
    # @param account_id [String] Account ID
    # @param group [ServiceVOIPGroupAddEdit2] group fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocGroupGetSingle, Integer, Hash)>] ServiceDocGroupGetSingle data, response status code and response headers
    def v1_account_account_id_group_post_with_http_info(account_id, group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.v1_account_account_id_group_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GroupApi.v1_account_account_id_group_post"
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.v1_account_account_id_group_post"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/group'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocGroupGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GroupApi.v1_account_account_id_group_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#v1_account_account_id_group_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
