=begin
#White Label Communications CPaas API Documentation

#A CPaaS platform API

The version of the OpenAPI document: 1.1
Contact: support@whitelabelcomm.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class MenuApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Menu List
    # Users can access data about all menus in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [MenuOutputList]
    def v1_account_account_id_menu_get(account_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_menu_get_with_http_info(account_id, opts)
      data
    end

    # Get Menu List
    # Users can access data about all menus in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [Array<(MenuOutputList, Integer, Hash)>] MenuOutputList data, response status code and response headers
    def v1_account_account_id_menu_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuApi.v1_account_account_id_menu_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MenuApi.v1_account_account_id_menu_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/menu'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_key'] = opts[:'start_key'] if !opts[:'start_key'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MenuOutputList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MenuApi.v1_account_account_id_menu_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuApi#v1_account_account_id_menu_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Menu
    # Delete a menu from an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param menu_id [String] Menu ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [MenuOutputDetail]
    def v1_account_account_id_menu_menu_id_delete(account_id, menu_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_menu_menu_id_delete_with_http_info(account_id, menu_id, opts)
      data
    end

    # Delete Menu
    # Delete a menu from an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param menu_id [String] Menu ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(MenuOutputDetail, Integer, Hash)>] MenuOutputDetail data, response status code and response headers
    def v1_account_account_id_menu_menu_id_delete_with_http_info(account_id, menu_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuApi.v1_account_account_id_menu_menu_id_delete ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MenuApi.v1_account_account_id_menu_menu_id_delete"
      end
      # verify the required parameter 'menu_id' is set
      if @api_client.config.client_side_validation && menu_id.nil?
        fail ArgumentError, "Missing the required parameter 'menu_id' when calling MenuApi.v1_account_account_id_menu_menu_id_delete"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/menu/{menuID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'menuID' + '}', CGI.escape(menu_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MenuOutputDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MenuApi.v1_account_account_id_menu_menu_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuApi#v1_account_account_id_menu_menu_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Menu Details
    # Get details about a menu in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param menu_id [String] Menu ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [MenuOutputDetail]
    def v1_account_account_id_menu_menu_id_get(account_id, menu_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_menu_menu_id_get_with_http_info(account_id, menu_id, opts)
      data
    end

    # Get Menu Details
    # Get details about a menu in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param menu_id [String] Menu ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(MenuOutputDetail, Integer, Hash)>] MenuOutputDetail data, response status code and response headers
    def v1_account_account_id_menu_menu_id_get_with_http_info(account_id, menu_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuApi.v1_account_account_id_menu_menu_id_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MenuApi.v1_account_account_id_menu_menu_id_get"
      end
      # verify the required parameter 'menu_id' is set
      if @api_client.config.client_side_validation && menu_id.nil?
        fail ArgumentError, "Missing the required parameter 'menu_id' when calling MenuApi.v1_account_account_id_menu_menu_id_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/menu/{menuID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'menuID' + '}', CGI.escape(menu_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MenuOutputDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MenuApi.v1_account_account_id_menu_menu_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuApi#v1_account_account_id_menu_menu_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Menu
    # Edit an account menu.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param menu_id [String] Menu ID, 32 alpha numeric
    # @param req_body [MenuInputData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [MenuOutputDetail]
    def v1_account_account_id_menu_menu_id_put(account_id, menu_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_menu_menu_id_put_with_http_info(account_id, menu_id, req_body, opts)
      data
    end

    # Update Menu
    # Edit an account menu.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param menu_id [String] Menu ID, 32 alpha numeric
    # @param req_body [MenuInputData] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(MenuOutputDetail, Integer, Hash)>] MenuOutputDetail data, response status code and response headers
    def v1_account_account_id_menu_menu_id_put_with_http_info(account_id, menu_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuApi.v1_account_account_id_menu_menu_id_put ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MenuApi.v1_account_account_id_menu_menu_id_put"
      end
      # verify the required parameter 'menu_id' is set
      if @api_client.config.client_side_validation && menu_id.nil?
        fail ArgumentError, "Missing the required parameter 'menu_id' when calling MenuApi.v1_account_account_id_menu_menu_id_put"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling MenuApi.v1_account_account_id_menu_menu_id_put"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/menu/{menuID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'menuID' + '}', CGI.escape(menu_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MenuOutputDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MenuApi.v1_account_account_id_menu_menu_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuApi#v1_account_account_id_menu_menu_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Menu
    # Create a new menu for an account.
    # @param account_id [String] Account ID, 32 alphanumeric
    # @param menu [MenuInputData] Menu data
    # @param [Hash] opts the optional parameters
    # @return [MenuOutputDetail]
    def v1_account_account_id_menu_post(account_id, menu, opts = {})
      data, _status_code, _headers = v1_account_account_id_menu_post_with_http_info(account_id, menu, opts)
      data
    end

    # Create Menu
    # Create a new menu for an account.
    # @param account_id [String] Account ID, 32 alphanumeric
    # @param menu [MenuInputData] Menu data
    # @param [Hash] opts the optional parameters
    # @return [Array<(MenuOutputDetail, Integer, Hash)>] MenuOutputDetail data, response status code and response headers
    def v1_account_account_id_menu_post_with_http_info(account_id, menu, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuApi.v1_account_account_id_menu_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MenuApi.v1_account_account_id_menu_post"
      end
      # verify the required parameter 'menu' is set
      if @api_client.config.client_side_validation && menu.nil?
        fail ArgumentError, "Missing the required parameter 'menu' when calling MenuApi.v1_account_account_id_menu_post"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/menu'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(menu)

      # return_type
      return_type = opts[:debug_return_type] || 'MenuOutputDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MenuApi.v1_account_account_id_menu_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuApi#v1_account_account_id_menu_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
