=begin
#White Label Communications CPaas API Documentation

#A CPaaS platform API

The version of the OpenAPI document: 1.1
Contact: support@whitelabelcomm.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ProvisionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve config file
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param filename [String] Name of config file
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_account_account_id_provision_filename_get(account_id, filename, opts = {})
      data, _status_code, _headers = v1_account_account_id_provision_filename_get_with_http_info(account_id, filename, opts)
      data
    end

    # Retrieve config file
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param filename [String] Name of config file
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_account_account_id_provision_filename_get_with_http_info(account_id, filename, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvisionApi.v1_account_account_id_provision_filename_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProvisionApi.v1_account_account_id_provision_filename_get"
      end
      # verify the required parameter 'filename' is set
      if @api_client.config.client_side_validation && filename.nil?
        fail ArgumentError, "Missing the required parameter 'filename' when calling ProvisionApi.v1_account_account_id_provision_filename_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/provision/{filename}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'filename' + '}', CGI.escape(filename.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProvisionApi.v1_account_account_id_provision_filename_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvisionApi#v1_account_account_id_provision_filename_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
