=begin
#White Label Communications CPaas API Documentation

#A CPaaS platform API

The version of the OpenAPI document: 1.1
Contact: support@whitelabelcomm.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class TemporalRuleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Temporal Rule List
    # Access all temporal rules for an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [ServiceDocsTemporalRuleGetAll]
    def v1_account_account_id_temporalrule_get(account_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_temporalrule_get_with_http_info(account_id, opts)
      data
    end

    # Get Temporal Rule List
    # Access all temporal rules for an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_key start_key for pagination that was returned as next_start_key from your previous call
    # @option opts [Integer] :page_size number of records to return, range 1 to 50
    # @return [Array<(ServiceDocsTemporalRuleGetAll, Integer, Hash)>] ServiceDocsTemporalRuleGetAll data, response status code and response headers
    def v1_account_account_id_temporalrule_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemporalRuleApi.v1_account_account_id_temporalrule_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/temporalrule'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_key'] = opts[:'start_key'] if !opts[:'start_key'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsTemporalRuleGetAll'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemporalRuleApi.v1_account_account_id_temporalrule_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemporalRuleApi#v1_account_account_id_temporalrule_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Temporal Rule
    # Create temporal rules for an account.
    # @param account_id [String] Account ID, 32 alphanumeric
    # @param temporalrule [ServiceVOIPTemporalRuleAddEdit2] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsTemporalRuleGetSingle]
    def v1_account_account_id_temporalrule_post(account_id, temporalrule, opts = {})
      data, _status_code, _headers = v1_account_account_id_temporalrule_post_with_http_info(account_id, temporalrule, opts)
      data
    end

    # Create Temporal Rule
    # Create temporal rules for an account.
    # @param account_id [String] Account ID, 32 alphanumeric
    # @param temporalrule [ServiceVOIPTemporalRuleAddEdit2] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsTemporalRuleGetSingle, Integer, Hash)>] ServiceDocsTemporalRuleGetSingle data, response status code and response headers
    def v1_account_account_id_temporalrule_post_with_http_info(account_id, temporalrule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemporalRuleApi.v1_account_account_id_temporalrule_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_post"
      end
      # verify the required parameter 'temporalrule' is set
      if @api_client.config.client_side_validation && temporalrule.nil?
        fail ArgumentError, "Missing the required parameter 'temporalrule' when calling TemporalRuleApi.v1_account_account_id_temporalrule_post"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/temporalrule'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(temporalrule)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsTemporalRuleGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemporalRuleApi.v1_account_account_id_temporalrule_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemporalRuleApi#v1_account_account_id_temporalrule_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Temporal Rule
    # Remove a temporal rule from an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param temporal_rule_id [String] temporal rule ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsTemporalRuleGetSingle]
    def v1_account_account_id_temporalrule_temporal_rule_id_delete(account_id, temporal_rule_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_temporalrule_temporal_rule_id_delete_with_http_info(account_id, temporal_rule_id, opts)
      data
    end

    # Delete Temporal Rule
    # Remove a temporal rule from an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param temporal_rule_id [String] temporal rule ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsTemporalRuleGetSingle, Integer, Hash)>] ServiceDocsTemporalRuleGetSingle data, response status code and response headers
    def v1_account_account_id_temporalrule_temporal_rule_id_delete_with_http_info(account_id, temporal_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_delete ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_delete"
      end
      # verify the required parameter 'temporal_rule_id' is set
      if @api_client.config.client_side_validation && temporal_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'temporal_rule_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_delete"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/temporalrule/{temporalRuleID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'temporalRuleID' + '}', CGI.escape(temporal_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsTemporalRuleGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemporalRuleApi#v1_account_account_id_temporalrule_temporal_rule_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Temporal Rule Details
    # View details about individual time rules.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param temporal_rule_id [String] Temporal Rule ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsTemporalRuleGetSingle]
    def v1_account_account_id_temporalrule_temporal_rule_id_get(account_id, temporal_rule_id, opts = {})
      data, _status_code, _headers = v1_account_account_id_temporalrule_temporal_rule_id_get_with_http_info(account_id, temporal_rule_id, opts)
      data
    end

    # Get Temporal Rule Details
    # View details about individual time rules.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param temporal_rule_id [String] Temporal Rule ID, 32 alpha numeric
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsTemporalRuleGetSingle, Integer, Hash)>] ServiceDocsTemporalRuleGetSingle data, response status code and response headers
    def v1_account_account_id_temporalrule_temporal_rule_id_get_with_http_info(account_id, temporal_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_get"
      end
      # verify the required parameter 'temporal_rule_id' is set
      if @api_client.config.client_side_validation && temporal_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'temporal_rule_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_get"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/temporalrule/{temporalRuleID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'temporalRuleID' + '}', CGI.escape(temporal_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsTemporalRuleGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemporalRuleApi#v1_account_account_id_temporalrule_temporal_rule_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Temporal Rule
    # Edit the existing temporal rules in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param temporal_rule_id [String] Temporal Rule ID, 32 alpha numeric
    # @param req_body [ServiceVOIPTemporalRuleAddEdit2] payload fields
    # @param [Hash] opts the optional parameters
    # @return [ServiceDocsTemporalRuleGetSingle]
    def v1_account_account_id_temporalrule_temporal_rule_id_put(account_id, temporal_rule_id, req_body, opts = {})
      data, _status_code, _headers = v1_account_account_id_temporalrule_temporal_rule_id_put_with_http_info(account_id, temporal_rule_id, req_body, opts)
      data
    end

    # Update Temporal Rule
    # Edit the existing temporal rules in an account.
    # @param account_id [String] Account ID, 32 alpha numeric
    # @param temporal_rule_id [String] Temporal Rule ID, 32 alpha numeric
    # @param req_body [ServiceVOIPTemporalRuleAddEdit2] payload fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDocsTemporalRuleGetSingle, Integer, Hash)>] ServiceDocsTemporalRuleGetSingle data, response status code and response headers
    def v1_account_account_id_temporalrule_temporal_rule_id_put_with_http_info(account_id, temporal_rule_id, req_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_put ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_put"
      end
      # verify the required parameter 'temporal_rule_id' is set
      if @api_client.config.client_side_validation && temporal_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'temporal_rule_id' when calling TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_put"
      end
      # verify the required parameter 'req_body' is set
      if @api_client.config.client_side_validation && req_body.nil?
        fail ArgumentError, "Missing the required parameter 'req_body' when calling TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_put"
      end
      # resource path
      local_var_path = '/v1/account/{accountID}/temporalrule/{temporalRuleID}'.sub('{' + 'accountID' + '}', CGI.escape(account_id.to_s)).sub('{' + 'temporalRuleID' + '}', CGI.escape(temporal_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(req_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceDocsTemporalRuleGetSingle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemporalRuleApi.v1_account_account_id_temporalrule_temporal_rule_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemporalRuleApi#v1_account_account_id_temporalrule_temporal_rule_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
